/*Обнуленння*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
} 
* {
  box-sizing: border-box;
}
/* загальний стиль */
 body {
  width: 970px;
  background-color: #f6f6f6;
  margin: 0px auto;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  color: #070707;
  line-height: 25px;
 }
 h1 {
   font-weight: 700;
   font-size: 48px;
   line-height: 65px;
   text-align: left;
   margin: 10px 0 50px 0;
 }
 h2 {
   font-weight: 700;
   font-size: 34px;
   /* margin: 100px 0 40px 0; */
   line-height: 46px;
 }
 h3 {
  font-weight: 700px;
  font-size: 14px;
  color: #828282;

 }

 a {
   text-decoration: none;
   color: #828282;
   margin: 0 40px 0 0;
   letter-spacing: 0.02em;
 }
 a:hover {
  color: #444141;
 }
 /* -------menu------------ */

.menu {
  margin: 27px 0;
}

.black-menu {
  color: #070707;
}
.line {
  height: 0px;
  border: 1px solid #828282;
}
.user {
}
.user-photo {
  width: 970px;
  height: 387px;
}
/* -----------user-about------------- */
.user-about h2 {
  padding-top: 100px;
}
.user-about {
  width: 480px;
  margin: 0 auto;
}
.user-about p {
  margin: 0 0 30px 0;
}
.user-about p:last-child {
  padding: 0 0 100px 0;
}
/* -----------skills------------------ */
.skills {
  padding: 100px 0;
}
.skills h2 {
  margin-bottom: 30px;
}
.skills p {
  margin-bottom: 50px;
}
.blocks-programs {
  height: 220px;
  display: flex;  
  flex-direction: row;
  justify-content:space-between ;
  position: relative;
}
.program {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  column-gap: 95px;
}
.container-icon-program {
  width: 90px;
  height: 38px;
}

.stars-container {
  display: flex;
  flex-direction: row;
  flex: space-between;
}
.star-item {
}
/* ----------portfolio----------------- */
.portfolio {
  padding: 100px 0;
}
.fashion h2 {
  margin: 0 0 40px 0
}
.portfolio p {
  margin: 40px 0 70px 0;
  text-decoration: underline;
}
.braun p {
  margin-bottom: 0;
}

/* --------footer-container----------- */
.footer-container {
  padding: 100px 0;
}
.footer-container p {
  width: 280px;
  height: 46px;
  margin: 0 auto;
}
.footer-container h2 {
  margin-bottom: 20px;
}

.footer-icon {
}

button {
  margin: 60px 0 30px 0;
  background-color: #070707;
  border-radius: 22px;
  width: 180px;
  height: 44px;
  color: #FFFFFF ;
}

button:hover {
  background-color:  #828282;
}

.footer-container h4 {
  width: 200px;
  height: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #828282;
  margin: 0 auto;
}
.footer-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  margin-bottom: 60px;
}
